nav {
    background-color: rgb(22, 22, 22);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > span {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(231, 109, 9);
    text-transform: uppercase;
}
nav > button {
    background-color: rgb(231, 109, 9);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
}
.menuIcon {
    color: #9c9a9a;
    cursor: pointer;
}