.projects{
    background-color: #1b1b1b;
    padding-bottom: 90px;
    padding-top: 50px;
    display: none;
}
.projects > header {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;    
    letter-spacing: 0.8px;
}
