.projects{
    background-color: rgb(22, 22, 22);
    padding-bottom: 90px;
    padding-top: 50px;
    padding: 90px 20px 20px;

}
.projects div {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-y: hidden;
}
.projects > header {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;    
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}
